%h1
	Kalkulator
= simple_form_for :project, :url => calculators_calculate_path do |f|
	= f.input :height1, label: 'Wysokość 1'
	= f.input :height2, label: 'Wysokość 2'
	= f.input :width, label: 'Szerokość'
	= f.input :belt_thickness, collection: 6..10, label: 'Grubość paska'
	= f.input :overlap, collection: (5..25).step(5), label: 'Zakładka'
	= f.submit