= simple_form_for [:admin, article], :html => { :multipart => true }  do |f|
	.col-md-8
		.form-horizontal
			= f.input :title, input_html: { class: 'input-lg' }
			= f.input :slug
			= f.input :content, input_html: { class: 'ckeditor' }
			= f.input :media_array, as: :file, input_html: { multiple: true }
			.form-group
				.col-sm-10.col-sm-offset-2
					= f.submit 'Zapisz artykuł', class: 'btn btn-primary'
	.col-md-4
		= f.input :category_id, label: 'Kategoria', collection: Category.all.map{|c| [c.name, c.id]}, prompt: 'Wybierz kategorię', selected: article.category_id, wrapper: 'vertical_form', default: 0
		= f.input :template, label: 'Template', collection: Dir.glob("app/views/pages/templates/*.haml").unshift("0").map!{|f| [f.sub('app/views/pages/templates/','').sub('.html.haml','').gsub('_',' ').sub(/0{1}/,'Brak').strip.capitalize, f.sub('app/views','').sub('.html.haml','').gsub('/_','/')]}, selected: article.template, wrapper: 'vertical_form', default: 0
		= f.input :status, label: 'Status', collection: Article::article_statuses.map{|s| [s[1],s[0]]}, selected: article.status, wrapper: 'vertical_form'
		= f.input :published_at, as: :string, wrapper: 'vertical_form'
