.row
  .page-header.col-md-12
    %h3 Edytuj treść
    = link_to preview_admin_article_path(article.id), class: 'btn btn-sm btn-info' do
      %i.glyphicon.glyphicon-search
      Podgląd
    %hr
.row.col-md-12
  = render 'form'
.row.col-md-12
  %hr
  %h4 Załączone media
  .row
    - article.media.each do |m|
      .col-lg-2.col-md-3.col-sm-4
        = link_to edit_admin_medium_path(m.id) do 
          = image_tag m.attachment.url(:gallery_thumb), class: "img-thumbnail img-responsive"
