.row.page-header
  .col-md-6
    %h3 Artykuły
  .col-md-6.text-right
    = link_to 'Dodaj nowy', new_admin_article_path, class: 'btn btn-info'
%table.table.table-striped
  %thead
    %tr
      %th #ID
      %th Nazwa
      %th Slug
      %th Kategoria
      %th Template
      %th.text-right Zmodyfikowano
      %th.text-right Akcje
  %tbody
    - articles.each do |article|
      %tr
        %td= article.id
        %td= link_to article.title, edit_admin_article_path(article.id)
        %td= article.slug
        %td= article.category.nil? ? 'Brak' : article.category.name
        %td= article.template.nil? ? 'Brak' : article.template.sub('/pages/templates/','').capitalize
        %td.text-right= article.updated_at.strftime("%d %b %Y, %H:%M")
        %td.text-right
          =link_to admin_article_path(article.id), method: "delete", data: {confirm: "Czy na pewno usunąć?"}, class: "btn btn-danger btn-xs" do
            %i.glyphicon.glyphicon-trash
            Usuń