/* =================================================================== */
/* Accent
====================================================================== */
blockquote {border-left: 3px solid #f3f3f3;}

a, a:active, a:visited,
.news-item .description h4 a:hover,
.error404 p.big,
article.post .post-content h2 a:hover,
.footer-links li a:hover,
.tooltip,
.footer-recent-news li a:hover, .menu ul li:hover a { 
	color: #0079b5; 
}

input.btn {
	border: none;
}

button.btn, input.btn,
a.btn,
article.post .main-info a.commentsnumber,
.widget ul.tags-list li a:hover,
.hold a.hover-zoom:hover, 
.hold a.hover-link:hover,
.swipe-navi .swipe-left:hover, 
.swipe-navi .swipe-right:hover,
.menu ul li:hover,
.menu ul ul li a:active,
.menu ul ul li a:hover,
#jPanelMenu-menu li.current,
a.go-to-portfolio,
.hold.medium a.hover-zoom:hover, 
.hold.medium a.hover-link:hover,
.news-item .date .month {
	background: #fc6264;
	color: #0079b5;
}


.menu ul li:hover,
.menu ul ul li a:active,
.menu ul ul li a:hover {
	background-color: #fff;
}

button.btn, a.btn, input.btn {
	box-shadow: 0 2px 0 0 #DB5355;
	-moz-box-shadow: 0 2px 0 0 #DB5355;
	-webkit-box-shadow: 0 2px 0 0 #DB5355;
	-o-box-shadow: 0 2px 0 0 #DB5355;
	-ms-box-shadow: 0 2px 0 0 #DB5355;
}

article.post .main-info a.commentsnumber:hover,
a.go-to-portfolio:hover,
button.btn:hover, input.btn:hover,
a.btn:hover {
	background: #F54648;
}

.projects-navi a,
a.go-to-portfolio i ,
button.btn, input.btn,
a.btn {
	color: #fff;
}

/* =================================================================== */
/* Main
====================================================================== */
a:hover,
.news-item .date .day,
.toggle a.toggle-trigger:before,
.toggle a.toggle-trigger,
article.post .post-content h2 a,
.blog-navi ul li a,
ul.share-post li a .badge,
.widget .search-icon:after,
#filters li a:hover,
#filters li.selected a,
#filters li.selected a:hover,
.project-details ul li span,
.accordion li a,
#tabs li a,
.dropcap {
	color: #0079b5;
}


.plan h3,
.projects-navi a:hover { 
	background: #2A3C4E; 
}

.plan-price,
.menu, .menu ul li,
.menu ul ul li,
/*.menu ul ul li:hover,*/
.hold.medium a.hover-zoom, 
.hold.medium a.hover-link,
article.post .main-info .date,
.blog-navi ul li a:hover,
.blog-navi ul li a.current,
.widget ul.tags-list li a,
.hold a.hover-zoom, 
.hold a.hover-link,
.projects-navi a,
.accordion li a.active,
#tabs li.active a,
#swipebox-action, #swipebox-caption,
.swipe-navi .swipe-left,
.swipe-navi .swipe-right,
.footer-bar{
	background: #0079b5;
}
.menu, .menu ul li {
	background: #eee;
}
.menu ul li a {
	font-size: 18px;
	color: #0079b5;
}

.plan-price:after {
	border-color: #f3f3f3 transparent;
}

.menu ul ul:before {
	border-color: transparent transparent #fff transparent;
}

.plan-price:after {
	border-color: #0079b5 transparent;
}


/* from style.css */
footer { 
	background: #b5d8ea;
}
.page-title {
	background-color: #ffffff;
	padding: 20px 0;
	margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6 {
	color: #0079b5;
}
h3 {
	font-size: 20px;
}
footer hr.smalline {
	background: #9a9fa4;
}
.footer-logo img {
	height: 44px;
}
/* Drop-Down Menu */
.menu ul ul {
	background: rgba(0, 0, 0, 0);
}

.menu ul ul li {
	background: #fff;
	color: #0079b5;
}

.menu ul ul li a {
	color: #0079b5;
	background: #fff;
}

.menu ul ul li a:active,
.menu ul ul li a:hover {
	color: #FFF;
	background: #0079b5
}

.contact-container {
	background: #eee;
	height: 24px;
}

.contact-container p {
	text-align: right;
	font-size: 16px;
}

#footer-main p {
	margin: 20px auto;
}

#footer-main p [class^=icon] {
	margin-right: 4px;
	margin-left: 15px;
}

#footer-main p [class^=icon]:nth-child(1) { margin-left: 0; }

.news-item .description h4 a { margin-left: 0; }
.news-item .description { margin-bottom: 40px; }

a.service-icon { display: block; }

.call {
	text-align: center;
	font-size: 26px;
	line-height: 140px;
}
.call a { color: #777;}

.hidden {
	display: none;
}