%hr
= simple_form_for [:admin, project] do |f|
	= f.input :project_type, label: 'Typ projektu', collection: Project::project_types.map{|t| [t[1],t[0]]}, prompt: 'Wybierz typ projektu', :selected => project.project_type
	= f.submit 'Zapisz projekt'