%section#portfolio
	.container
		%ul#portfolio-list.isotope
			- @page.media.each do |image|
				%li.one-third.column.item.branding.isotope-item{ :style => "position:relative" }
					%figure
						.hold.big
							= link_to image.attachment.url, :class => "isotope swipebox" do
								= image_tag image.attachment.url(:gallery_thumb), :alt => image.title
							/ = link_to "sdxsadx", :class => "hover-link" do
							/	 %i.icon-link
						/ %figcaption.item-description
						/	%h5 Image
						/	%span Description