.page-title
	.container
		.twelve.columns
			%h1 About
			%p
				Marine Stofferingen zeilmakerij in Almere voor watersport en buitenleven.
		%nav.four.columns
			%ul.breadcrumbs
				%li
					= link_to "Home", "/"
				%li
					%i.icon-angle-right
				%li About
%section#typography
	.container
		.sixteen.columns
			%article
				%h2 Onze voordelen
		.two-thirds.columns
			%ul.serviceboxes
				%li
					.service-icon
						= image_tag "icons/unused/check.png", :alt => "" 
					%h3 Top kwaliteit producten
				%li
					.service-icon
						= image_tag "icons/unused/graph.png", :alt => "" 
					%h3 Altijd op maat gemaakt
				%li
					.service-icon
						= image_tag "icons/unused/clock.png", :alt => "" 
					%h3 Snelle levering
		.sixteen.columns		
			%article
				%p
					Marine Stofferingen is een bedrijf die zich specialiseerd in het maken:
				%ul.check-list
					%li RVS en ALU Frames
					%li cabriokap
					%li biminitop
					%li sprayhood
					%li boottenten
					%li kuiptenten
					%li afdekzeilen
					%li hoezen
					%li verandazeilen
					%li voortenten
					%li loungekussens
					%li scheepstoffering
/ %section#portfolio
/ 	.container
/ 		%ul#portfolio-list.isotope
/ 			- @images.each do |image|
/ 				%li.one-third.column.item.branding.isotope-item{ :style => "position:relative" }
/ 					= link_to "", "as", :class => "isotope"
/ 					%figure
/ 						= link_to "", "as", :class => "isotope"
/ 						.hold.big
/ 							= link_to "asx", :class => "isotope" do
/ 								= image_tag image.gsub("public/images/", ""), :alt => "aaa"
/ 							= link_to "sxsx", :class => "hover-zoom swipebox" do
/ 								%i.icon-search
/ 							= link_to "sdxsadx", :class => "hover-link" do
/ 								%i.icon-link
/ 						%figcaption.item-description
/ 							%h5 Image
/ 							%span Description
