.page-title
	.container
		.twelve.columns
			%h1 Biminitop
		%nav.four.columns
			%ul.breadcrumbs
				%li
					= link_to "Home", "/"
				%li
					%i.icon-angle-right
				%li Biminitop
%section#typography
	.container
		.sixteen.columns
			%article
				%h2 Biminitop
				%p Bij ons koop je geen standaard bimini, elke keer makken wij apartre ontwerp, frame aan hand van uw wensen en type boot. Beste kwaliteit Stoffen kunnen heel goed tegen de Zon en Water. Biminitop kunt u zelf inmeten en monteren. Dat kunnen wij ook doen, of op jou haven, of breng maar boot bij ons.
			%article
				%p
					In het kort uw vordelen:
				%ul.check-list
					%li RVS OF ALU frame buigen wij zelf
					%li Luxe RVS beslag
					%li Ruimte keuze uit beste kwaliteit doeken zoals Sunbrella, Mrakilux
					%li Opberghoes van hetzelfde stof altijd bij geleverd
					%li Buis tunnels Standaard voorzien van ritsen
					%li Supportpolses in optie voor maar 89 €
					%li inclusief alle bevestiging materiaal
					%li Biminitop wordt op maat gemaakt aan uw wensen
					%li Levertijd 2 weken
/ %section#portfolio
/ 	.container
/ 		%ul#portfolio-list.isotope
/ 			- @images.each do |image|
/ 				%li.one-third.column.item.branding.isotope-item{ :style => "position:relative" }
/ 					= link_to "", "as", :class => "isotope"
/ 					%figure
/ 						= link_to "", "as", :class => "isotope"
/ 						.hold.big
/ 							= link_to "asx", :class => "isotope" do
/ 								= image_tag image.gsub("public/images/", ""), :alt => "aaa"
/ 							= link_to "sxsx", :class => "hover-zoom swipebox" do
/ 								%i.icon-search
/ 							= link_to "sdxsadx", :class => "hover-link" do
/ 								%i.icon-link
/ 						%figcaption.item-description
/ 							%h5 Image
/ 							%span Description
