.page-title
	.container
		.twelve.columns
			%h1 Buiskap
		%nav.four.columns
			%ul.breadcrumbs
				%li
					= link_to "Home", "/"
				%li
					%i.icon-angle-right
				%li Buiskap
%section#typography
	.container
		.sixteen.columns
			%article
				%h2 Buiskap
				%p
					Door ons op maat gemaakte buiskappen zijn van beste kwaliteit, passen perfect in form, en zijn stevig afgewerkt.

				%p
					Voor onze alle boottenten, sprayhoods, cabriokappen worden top merken stoffen gebruikt, RVS buizen en alle RVS beslag. Deze combinatie zorg voor zeer mooie uitstraling van jou boottent.

				%p
					Voor elke buiskap wordt mal op de boot gemaakt. Daarna bespreken wij altijd de wensen en mogelijkheden met de klant.

				%p
					Uiteindelijk wordt de buiskap op jouw boot gemonteerd.
			%article
				%p
					Voordelen:
				%ul.check-list
					%li RVS of ALU Frame
					%li luxe RVS Beslag
					%li strak opgespannen
					%li Top kwaliteit doeken Sunbrella
					%li Bevestigd met tenax, minax, drukknoppen
					%li stevig afgewerkt
					%li Snel geleverd, meestaal binnen 2 weken
/ %section#portfolio
/ 	.container
/ 		%ul#portfolio-list.isotope
/ 			- @images.each do |image|
/ 				%li.one-third.column.item.branding.isotope-item{ :style => "position:relative" }
/ 					= link_to "", "as", :class => "isotope"
/ 					%figure
/ 						= link_to "", "as", :class => "isotope"
/ 						.hold.big
/ 							= link_to "asx", :class => "isotope" do
/ 								= image_tag image.gsub("public/images/", ""), :alt => "aaa"
/ 							= link_to "sxsx", :class => "hover-zoom swipebox" do
/ 								%i.icon-search
/ 							= link_to "sdxsadx", :class => "hover-link" do
/ 								%i.icon-link
/ 						%figcaption.item-description
/ 							%h5 Image
/ 							%span Description
