- if @slides.present?
  .fullwidthbanner-container
    .fullwidthbanner
      %ul
        - @slides.media.each do |slide|
          %li{ :data => { :transition => 'slideleft', :delay => '5000', :masterspeed => '500' } }
            = image_tag slide.attachment.url, :alt => slide.title
            .caption.large_thin.white.sft{ :data => { :x => '565', :y => '230', :speed => '500', :start => '1100', :easing => 'easeOutExpo' } }
              %p= slide.title
%section#typography
  .container
    .two-thirds.columns
      %ul.serviceboxes
        %li
          =link_to "/offerte-online", class: "service-icon" do
            = image_tag "icons/unused/file.png", :alt => "Offerte online" 
          %h3=link_to "Offerte online", "/offerte-online"
        %li
          =link_to "/werkgebied", class: "service-icon" do
            = image_tag "icons/unused/map.png", :alt => "Werkgebied" 
          %h3=link_to "Werkgebied", "/werkgebied"
        %li
          =link_to "/kleurenstaal", class: "service-icon" do
            = image_tag "icons/unused/book.png", :alt => "Kleurenstaal" 
          %h3=link_to "Kleurenstaal", "/kleurenstaal"
  .promobar
    .container
      = raw @page.content
  .container
    <div class="ten columns elements">
    <h3>Waarom Marine Stofferingen?</h3>    
    <div class="accordion-container">
    <ul class="accordion">
    - if @advantages.any?
      - @advantages.each do |advantage|
        %li
          %a= advantage.title
          = raw advantage.content         
    </ul>
    </div>      
    </div>
    <div class="six columns">
    <section class="testimonials elements">
    <h3>Nieuws</h3>
    <div id="quote_wrap" style="height: 222px;">
    - if @posts.any?
      - @posts.each do |post|
        %blockquote.quote
          .bubble
            = raw post.content
            .quote-author= post.published_at.strftime("\%d.\%m.\%Y")
    </div>
    </section>
    </div>
  .container
    .two-thirds.columns
    - if @products.any?
      .carousel-intro
        %h3 De producten
        .clearfix
      %section.jcarousel.recent-work-jc
        %ul          
        - @products.each do |product|
          %li.four.columns
            = link_to product.slug, :class => "recent-item" do
              %figure
                .hold.medium
                  - if product.media.any?
                    = image_tag product.media.first.attachment.url(:gallery_thumb), :alt => product.title
              %figcaption.item-description
                %h5= product.title
/ %section#portfolio
/   .container
/     %ul#portfolio-list.isotope
/       - @images.each do |image|
/         %li.one-third.column.item.branding.isotope-item{ :style => "position:relative" }
/           = link_to "", "as", :class => "isotope"
/           %figure
/             = link_to "", "as", :class => "isotope"
/             .hold.big
/               = link_to "asx", :class => "isotope" do
/                 = image_tag image.gsub("public/images/", ""), :alt => "aaa"
/               = link_to "sxsx", :class => "hover-zoom swipebox" do
/                 %i.icon-search
/               = link_to "sdxsadx", :class => "hover-link" do
/                 %i.icon-link
/             %figcaption.item-description
/               %h5 Image
/               %span Description
