.page-title
	.container
		.twelve.columns
			%h1 Loungekussens
		%nav.four.columns
			%ul.breadcrumbs
				%li
					= link_to "Home", "/"
				%li
					%i.icon-angle-right
				%li Loungekussens
%section#typography
	.container
		.sixteen.columns
			%article
				%h2 Loungekussens
				%p
					Kussens op maat voor tuinmeubels. Loungeussens zijn uiteraad gemaakt van goede kwaliteit stoffen. Zeer geschikt voor boten, steigerhout banken. Koudschuim die wij gebruiken HR35 zorg voor goede veering, comfortable zitten en duurzamheid. Zulke voelling kan zo'n 8 jaar tegen de zware belasting zelfs in horeca toepassingen.

				%p
					Loungekussens zijn standaard strak over de voeling, afgewerkt met zijnaad. Achterin zijn onze kussens vorzien van de rits, voor makkelijk onderhoud en wassen.

				%p
					kussens zijn altijd op maat gemaakt, je hebt ruimte keuze uit veel kleuren en kwaliteit.

				%p
					Sunbrella of Sunproof stooffen zijn waterafstottend, en verkluren niet op de zon.
					Op onze kussens is uiteraad 24 manden garantie op stiksel en ritsen, en 5 jaar fabrikantgarantie op stof.
			%article
				%h2
					Voordelen:
				%ul.check-list
					%li op maat gemaakt
					%li snele levering
					%li ruimte keuze uit sunbrella en sunproof doeken
					%li top kwaliteit voeling
					%li Stewig afgewerkt
					%li Straak opgespannen
				%p
					%strong Grotere bestelling?
					Dan krijg jij altijd een korting!!!
				%p
					%strong Voorbeld prijs
					zitkussen 180x60x5 met sunbrella stof, hr35 schuim kost 125€

/ %section#portfolio
/ 	.container
/ 		%ul#portfolio-list.isotope
/ 			- @images.each do |image|
/ 				%li.one-third.column.item.branding.isotope-item{ :style => "position:relative" }
/ 					= link_to "", "as", :class => "isotope"
/ 					%figure
/ 						= link_to "", "as", :class => "isotope"
/ 						.hold.big
/ 							= link_to "asx", :class => "isotope" do
/ 								= image_tag image.gsub("public/images/", ""), :alt => "aaa"
/ 							= link_to "sxsx", :class => "hover-zoom swipebox" do
/ 								%i.icon-search
/ 							= link_to "sdxsadx", :class => "hover-link" do
/ 								%i.icon-link
/ 						%figcaption.item-description
/ 							%h5 Image
/ 							%span Description



