<div class="container">
.page-title
  .container
    .twelve.columns
      %h1= @page.title
    %nav.four.columns
      %ul.breadcrumbs
        %li
          = link_to "Home", "/"
        %li
          %i.icon-angle-right
        %li= @page.title
<div class="sixteen columns">
= raw @page.content
</div>
</div>
- if @materials.any?
  - @materials.each do |article|
    .container
      .sixteen.columns.typography
        %hr
        %h3= article.title
        = raw article.content
    - if article.media.any?      
      - @media = article.media
      = render 'pages/gallery4'