.page-title
	.container
		.twelve.columns
			%h1 Verandazeilen
		%nav.four.columns
			%ul.breadcrumbs
				%li
					= link_to "Home", "/"
				%li
					%i.icon-angle-right
				%li Verandazeilen
%section#typography
	.container
		.sixteen.columns
			%article
				%h2#verandazeilen Verandazeilen
				%p
					Marine Stofferingen levert ook flexible oplossingen om jouw terrasoverkapping, veranda of sierre af te zetten.
					Verandazeilen is heel goede en betaalbare alternatiev voor faste glas wanden. Verandazeilen zijn gemaakt van dikke PVC 680g/m2 doek, heldere top kwaliteit vinyl raamfolie en durzaam sluitingen en ritsen. 
					Mogelijkheden zijn wel breed. Voor elke klant maken wij eerst de concept tekening.
					Na akkord wordt de veranda door ons precies ingemeten.
				%ul.check-list
					%li Top Kwaliteit - Duurzaam - Stevig
					%li Standard (680g/m2 + 0,5 mm)
					%li Standard+ ( 680g/m2 + 0,7 mm)
					%li Pro BRV (680 BRV + 0,8 mmBRV)
			%article
				%h2#prijs Prijs
				%h3 In de prijs begrijpen
				%ul.check-list
					%li caravan reil aluminium of kunststof wit
					%li draai knoppen, minax knoppen of drukkers
					%li bandjes 
					%li parkers RVS
					%li omklapbeugels
					%li ritsen
				%h3 Meerprijs
				%ul.check-list
					%li Schuine zijde
					%li Gordijnen op raam (met drukkers)
			%article
				%h2#montage Montage
				%p
					%strong
						Dat kan jij ook zelf doen!
				%ul.check-list
					%li Boven op is veranda zeil bevestigt met een caravan rail (pees), daardoor kan jij hem makkelijk inschuiven.
					%li Aan de zij kanten zetten wij metaal draai sluitingen, of kunststof Minaxen.
					%li Onderkant - op de grond zitten er omklapbeugels, aan deze met een trekbandje jij jouw veranda zeilen goed opspannen.
					%li Omklapbeugels dienen ingeschroefd worden aan de grond.
					%li Een andere oplossing is een tunnel er onder waar kan je een metaal buis inschuiven.
			%article
				%h2#inmeten Montage en inmeten:
				%ul.check-list
					%li Inmeten binnen straal 25 km is GATIS!!!
					%li Boven 25 km worden er extra kosten gerekend
					%li montage ook mogelijk - vraag offerte aan
			%article
				%h2#garantie Garantie
				%ul.check-list
					%li 2 jaar garantie op stiksel en ritsen
					%li 5 jaar fabrikant garantie op de zeil en raamfolie.
- if @page.media.any?
	= render 'pages/gallery'
