<div class="container">
.page-title
  .container
    .twelve.columns
      %h1= @page.title
    %nav.four.columns
      %ul.breadcrumbs
        %li
          = link_to "Home", "/"
        %li
          %i.icon-angle-right
        %li= @page.title
</div>
<div class="container">
<div class="two-thirds column">
<img src="/images/marine_stofferingen_werkgebied.svg" alt="Marine Stofferingen Werkgebied" title="Marine Stofferingen Werkgebied">
</div>
<div class="one-third column">
= raw @page.content
</div>
</div>