<div class="container">
.page-title
  .container
    .twelve.columns
      %h1= @page.title
    %nav.four.columns
      %ul.breadcrumbs
        %li
          = link_to "Home", "/"
        %li
          %i.icon-angle-right
        %li= @page.title
<div class="sixteen columns">
= raw @page.content
<hr>
</div>
</div>
<div class="container">
<div class="sixteen columns">
<section id="recent-news">
<ul class="clearfix">
- if @page.media.any?
  - @page.media.each_with_index do |medium,index|
    %li.four.columns.alpha
      %article.news-item
        .news-thumb
          %a= image_tag medium.attachment.url(:gallery_thumb), :alt => medium.title
        .description
          %h4
            %a= medium.title
          %p= raw medium.description
    - if (index+1) % 3 != 0
      %li.two.columns.alpha
        &nbsp;
</li>
</ul>
</section>
</div>
</div>