= render 'layouts/top'
<section class="contact">
<div class="container">
- if @page.slug == 'contact'
  <!-- Sidebar Start -->
  <div class="four columns">
  <div class="contact-sidebar">
  = raw @page.content
  </div>
  <!-- Sidebar End -->
  </div>
  <div class="twelve columns">
  <!-- Map -->
  <div id="google-map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2434.113161637118!2d5.245459315256141!3d52.40462527979256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c61777f9667b1d%3A0x9ec4d83c2d06a618!2sHefbrugweg+12%2C+1332+AN+Almere!5e0!3m2!1spl!2snl!4v1451490008296" width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe><br>
  </div>
- else
  <div class="two columns" style="padding-top:1px;"> </div>
  <div class="twelve columns">
  = raw @page.content
<!-- Contact Form -->
<div class="form">
= simple_form_for @contact, :html => {:class => 'clearfix' } do |f|
  .field= f.input :name, :required => true, :wrapper => false, :label => 'Naam', :class => 'text'
  .field= f.input :email, :required => true, :wrapper => false, :class => 'text'
  .field.field-last= f.input :subject, :required => true, :wrapper => false, :label => 'Onderwerp', :class => 'text'
  = f.input :message, :as => :text, :required => true, :wrapper => false, :label => false, :label => false
  .hidden
    = f.input :nickname, :hint => 'Leave this field blank!'
  = f.button :submit, 'Verstuur bericht', :class=> "btn", :id => "send"
</div>
<!-- Contact Form / End -->
</div>
</div>
</section>
