= image_tag medium.attachment.url(:thumb)
= simple_form_for [:admin, medium], :html => { :multipart => true } do |f|
	.col-md-8
		.form-horizontal
			= f.input :title, input_html: { class: 'input-lg' }
			= f.input :slug
			= f.input :description, input_html: { class: 'ckeditor' }
			= f.file_field :attachment, :wrapper => "vertical_form"
			.form-group
				.col-sm-10.col-sm-offset-2
					= f.submit 'Zapisz', :class => "btn btn-primary"