.row.page-header
  .col-md-6
    %h3 Media
  .col-md-6.text-right
    = link_to 'Dodaj nowe', new_admin_medium_path, class: 'btn btn-info'
.row
  - media.each do |m|
    .col-md-3
      = link_to edit_admin_medium_path(m.id) do 
        = image_tag m.attachment.url(:gallery_thumb), class: "img-thumbnail img-responsive"