<section class="about">
- if @page.media.any?  
  - @slider = "<div id=\"slider\" class=\"swipe\">\r\n<ul class=\"swipe-wrap\">"
  - @page.media.each do |image|
    - @slider << "<li><img src=\"#{image.attachment.url(:gallery_thumb)}\" alt=\"\" /></li>\n\r"
  - @slider << "</ul>\r\n<div class=\"swipe-navi\">\r\n<div class=\"swipe-left\" onclick=\"mySwipe.prev()\"><i class=\"icon-chevron-left\"></i></div>\r\n"
  - @slider << "<div class=\"swipe-right\" onclick=\"mySwipe.next()\"><i class=\"icon-chevron-right\"></i></div>\r\n</div>\r\n</div>"
= raw @page.content.sub('[slider]',@slider)
</section>
