<section class="contact">
<div class="container">
<!-- Sidebar Start -->
<div class="four columns">
<div class="contact-sidebar">
= raw @page.content
</div>
<!-- Sidebar End -->
</div>
<div class="twelve columns">
<!-- Map -->
<div id="google-map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2434.113161637118!2d5.245459315256141!3d52.40462527979256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c61777f9667b1d%3A0x9ec4d83c2d06a618!2sHefbrugweg+12%2C+1332+AN+Almere!5e0!3m2!1spl!2snl!4v1451490008296" width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe><br>
</div>
<!-- Contact Form -->
<div class="form">
<div class="alert success success-message">
<div class="close">×</div>
<p>Your message has been sent!</p>
</div>
<form class="clearfix" method="post" action="contact.php">
<div class="field">
<label>Naam <span>*</span></label>
<input type="text" name="name" class="text" value="">
</div>
<div class="field">
<label>Email <span>*</span></label>
<input type="email" name="email" class="text" value="">
</div>
<div class="field field-last">
<label>Ontwerp <span>*</span></label>
<input type="text" name="thesubject" class="text" value="">
</div>
<textarea name="message" class="text"></textarea>
<button id="send" class="btn">Submit</button>
<div class="loading"></div>
</form>
</div>
<!-- Contact Form / End -->
</div>
</div>
</section>
