<div class="fullwidthbanner-container">
<div class="fullwidthbanner">
<ul>
<!-- First Slide / -->
<li data-transition="slideup" data-delay="13000">
<img src="/images/slides/bg2.jpg" alt="" >
<div class="caption lfl" 
data-x="-22" 
data-y="0" 
data-speed="800"
data-start="450"
data-easing="easeOutExpo">
<img src="/images/slides/tablet.png" alt="">
</div>
<div class="caption lfl" 
data-x="285" 
data-y="151" 
data-speed="700"
data-start="700"
data-easing="easeOutExpo">
<img src="/images/slides/phone.png" alt="">
</div>
<div class="caption large_thin white sft" 
data-x="565" 
data-y="230" 
data-speed="500"
data-start="1100"
data-easing="easeOutExpo">
<p>Amazingly Adapted</p>
</div>
<div class="caption small_thin white sft" 
data-x="565" 
data-y="275" 
data-speed="700"
data-start="1200"
data-easing="easeOutBack">
<p>Vena is Responsive and ready for Retina Screen Devices.<br>
Be sure that your website is looking good on every device and it’s intuitive!</p>
</div>
</li>
<!-- First Slide / End -->
<!-- Second Slide / Start -->
<li data-transition="slideup" data-delay="13000">
<img src="/images/slides/dark-blue.png">
<div class="caption lfb" 
data-x="120" 
data-y="0" 
data-speed="900"
data-start="500"
data-easing="easeOutExpo">
<iframe src="http://player.vimeo.com/video/61132058?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=0" width="960" height="540"></iframe>
</iframe>
</div>
</li>
<!-- Second Slide / End -->
<!-- Third Slide / Start -->
<li data-transition="slidedown" data-delay="13000">
<img src="/images/slides/bg1.jpg" alt="">
<div class="caption lfr" 
data-x="820" 
data-y="47" 
data-speed="800"
data-start="450"
data-easing="easeOutExpo">
<img src="/images/slides/businessman.png" alt="">
</div>
<div class="caption large_thin dark sft" 
data-x="0" 
data-y="230" 
data-speed="500"
data-start="800"
data-easing="easeOutExpo">
<p>Best Choice for your Business!</p>
</div>
<div class="caption small_thin dark sft" 
data-x="0" 
data-y="275" 
data-speed="700"
data-start="900"
data-easing="easeOutBack">
<p>Vena is multipurspose, you can easily make corporate or digital agency website.<br> 
With Vena you can make even personal blog, portfolio or whatever you wann’t. Very easy!</p>
</div>
</li>
<!-- Third Slide / End -->
</ul>
<div class="tp-bannertimer"></div>
</div>
</div>
<!-- End of slider -->
<!-- Revolution Slider / End -->
= raw @page.content