<section id="portfolio">
<div class="container">
- if @page.media.any?
  <!-- Project Images Slider -->
  <div class="sixteen columns">
  <div id="slider" class="swipe">
  <ul class="swipe-wrap">
  - @page.media.each do |image|
    %li
      = link_to image.attachment.url, class: 'swipebox' do
        = image_tag image.attachment.url(:slide), :alt => "aaa"
  </ul>
  <div class="swipe-navi">
  <div class="swipe-left" onclick="mySwipe.prev()"><i class="icon-chevron-left"></i></div> 
  <div class="swipe-right" onclick="mySwipe.next()"><i class="icon-chevron-right"></i></div>
  </div>
  </div>
  </div>
<!-- Project Description -->
<div class="sixteen columns">
<article class="project-description">
= raw @page.content
</article>
</div>
</div>
</section>