<section id="portfolio">
<div class="container">
<div class="nine columns">
- if @page.media.any?
  <ul class="project-images">
  - @page.media.each do |image|
    %li
      = link_to image.attachment.url, class: 'swipebox' do
        = image_tag image.attachment.url(:large), :alt => "aaa"
  </ul>
</div>
<div class="seven columns typography">
<!-- <div class="project-details">`
%h2= @page.title
<div class="projects-navi">
<a href="portfolio-four-columns.html" class="grid"><i class="icon-th-large"></i></a>
<a href="project-ripe-wheat-ears-style-2.html"><i class="icon-angle-left"></i></a>
<a href="project-vena-style-2.html"><i class="icon-angle-right"></i></a>
</div>
<div class="clear"></div>
<hr>
<ul>
<li><span>Date:</span>12 January 2013</li>
<li><span>Client:</span>themeforest.net</li>
<li><span>Software:</span>Photoshop, Illustrator</li>
<li><a href="project-vena-style-2.html" class="btn"><i class="icon-picture"></i>Try slider style!</a></li>
</ul>
</div> -->
= raw @page.content
</div>
</div>
</section>
