.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    %ul.nav.navbar-nav
      %li
        = link_to "Treści", admin_articles_path
    %ul.nav.navbar-nav.navbar-right
      %li
        = link_to destroy_user_session_path, method: :delete do
          %i.glyphicon.glyphicon-log-out
          Logout
