<footer>
	<section id="footer-main">
		<div class="container">
			<div class="sixteen columns">
				<p><i class="icon-map-marker"></i><strong>Adres: </strong>Hefbrugweg&nbsp;12, 1332&nbsp;AN&nbsp;Almere
				<i class="icon-phone"></i><strong>Telefoon: </strong><a href="tel:+31641912754">0641912754</a></li>
				<i class="icon-envelope"></i><strong>E-mail: </strong><a href="mailto:info@marinestofferingen.nl">info@marinestofferingen.nl</a></p>
			</div>	
		</div>
	</section>	
	<section class="footer-bar">
		<div class="container">
			<div class="eight columns">
				<div class="footer-logo"><img src="/images/logo-white.svg" alt="Marine Stofferingen" title="Marine Stofferingen"><span><%=Time.now.strftime("\%Y")%> © Copyright Marine Stofferingen.</span></div>
			</div>
			<!-- <div class="eight columns">
				<ul class="footer-links">
					<li><a href="#"><i class="icon-twitter"></i></a></li>
					<li><a href="#"><i class="icon-facebook"></i></a></li>
					<li><a href="#"><i class="icon-linkedin"></i></a></li>
					<li><a href="#"><i class="icon-pinterest"></i></a></li>
					<li><a href="#"><i class="icon-google-plus"></i></a></li>
				</ul>
			</div> -->
		</div>
	</section>
</footer>
