<div class="contact-container">
	<div class="container">
	</div>
</div>
<div class="logo-container">
	<div class="container">
	
		<!-- Mobile Only Menu Button  -->
		<a href="#menu" class="menu-trigger"><i class="icon-reorder"></i></a>
		
		<!-- Logo  -->	
		<a class="logo" href="/"><img src="/images/logo.svg" alt="Marine Stofferingen" title="Marine Stofferingen"></a>
		
		<p class="call"><a href="tel:+31641912754"><i class="icon-phone"></i> 0641912754</a></p>
	</div>
</div>
<header class="menu">
	<div class="container">
		
		<!-- Navigation -->		
		<nav>
			<ul class="navigation">
				<li class="search"><input class="searchform" type="search" value="" placeholder="Search"></li>
				<li><a href="/">Home</a></li>
				<li><a href="/buiskap">Buiskap</a></li>
				<li><a href="/biminitop">Biminitop</a></li>
 				<li><a href="/afdekzeilen">Afdekzeilen</a></li>
 				<li><a href="/stoffering">Stoffering</a></li>
				<li><a href="/verandazeilen">Verandazeilen</a></li>
				<li><a href="/werkwijze">Werkwijze</a></li>
				<li><a href="/contact">Contact</a></li>		
			</ul>
		</nav>
	</div><!-- End of container -->
</header>