.page-title
  .container
    .twelve.columns
      %h1= @page.title
    %nav.four.columns
      %ul.breadcrumbs
        %li
          = link_to "Home", "/"
        %li
          %i.icon-angle-right
        %li= @page.title