!!!
%html
	%head
		%title Admin
		= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true
		= csrf_meta_tags
		<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0">
	%body
		= render "layouts/admin_top"
		.container-fluid#main
			.col-md-12
				= yield
		<script>
		var CKEDITOR_BASEPATH = '/js/ckeditor/';
		</script>
		= javascript_include_tag 'application', 'data-turbolinks-track' => true