!!!
%html
    %head
        %title #{@title} #{Rails.application.secrets.app_title}
        %link{:rel => "stylesheet", :href => "/css/style.css"}/
        %link{:rel => "stylesheet", :href => "/css/colors/11.css"}/
        = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
        = csrf_meta_tags
        <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0">
    %body
        = render 'layouts/header'
        = yield
        = render 'layouts/footer'
        = javascript_include_tag 'application', 'data-turbolinks-track' => true
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-62678327-1', 'auto');
        ga('send', 'pageview');
        </script>