!!!
%html
		%head
				%title dasasx
				%link{:rel => "stylesheet", :href => "/css/style.css"}/
				%link{:rel => "stylesheet", :href => "/css/colors/1.css"}/
				= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
				= javascript_include_tag 'application', 'data-turbolinks-track' => true
				= csrf_meta_tags
				<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0">
		%body
				= render 'layouts/header'
				= yield
				= render 'layouts/footer'